@import "foundation/settings";

//Overrides des variables de foundation
$row-width: 100%;

@import "foundation";
@import "normalize";

//Début de code css/scss de l'application

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}